Repository CDCgov/reportstream-sftp-ingestion: changes, and which pre-commit hooks are due for each by the changed paths.
All: code-format, terraform-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-json
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-yaml
      - id: detect-private-key
        exclude: (mock_credentials|_test\.go)
      - id: end-of-file-fixer
        exclude: (\.txt)
      - id: no-commit-to-branch
      - id: trailing-whitespace

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]
        exclude: (mock_credentials|_test\.go|local\.settings\.json)

  - repo: local
    hooks:
      - id: code-format
        name: code-format
        entry: bash -c 'make formatCheck || (echo ""; echo "!!Automatically running formatApply!!"; make formatApply && git status)'
        language: system
        types_or:
          - go
        pass_filenames: false

  - repo: local
    hooks:
      - id: terraform-format
        name: terraform-format
        entry: bash -c 'terraform fmt -recursive -write'
        language: system
        types_or:
          - terraform
        pass_filenames: false

Attempting reverting client config to password
  src/sftp/handler.go
Due: code-format

Adding hostkey Algorithm
  src/sftp/handler.go
Due: code-format

Try using rsa-sha2-256 algorithm
  src/sftp/handler.go
Due: code-format

Correcting secret name
  src/sftp/handler.go
Due: code-format

Fixing terraform name
  operations/template/key.tf
Due: terraform-format

revert private key rename changes
  operations/template/key.tf
  src/sftp/handler.go
Due: code-format, terraform-format

Allow GitHub to Recover
  operations/template/key.tf
Due: terraform-format

Fixed private key name
  src/sftp/handler.go
Due: code-format

Update comment and log statement to not mislead us about when we're importing
  src/sftp/handler.go
Due: code-format

update test to match new logging
  src/sftp/handler_test.go
Due: code-format

Clarify zip import logging (#163)
  src/sftp/handler.go
  src/sftp/handler_test.go
Due: code-format

Rename secrets associated with the CA PHL SFTP host key
  docker-compose.yml
  mock_credentials/ca-phl-private-key-local
  mock_credentials/ca-phl-sftp-host-private-key-local
  mock_credentials/ca-phl-sftp-host-public-key-local
  operations/template/key.tf
  src/sftp/handler.go
Due: code-format, terraform-format

Rename secrets associated with the CA PHL SFTP user credential key
  docker-compose.yml
  mock_credentials/ca-phl-sftp-host-private-key-local
  mock_credentials/ca-phl-sftp-user-credential-private-key-local
  mock_credentials/ca-phl-sftp-user-credential-public-key-local
  operations/template/key.tf
  src/sftp/handler.go
Due: code-format, terraform-format

Rename the mock secret for CA PHLs ReportStream key
  mock_credentials/ca-phl-reportstream-private-key-local
Due: none

Revert the CA PHLs ReportStream client name to flexion.simulated-lab for now
  operations/template/app.tf
Due: terraform-format

Set PHL client name when running locally back to flexion.simulated-lab
  docker-compose.yml
Due: none

Do not log private keys.
  src/sftp/handler.go
Due: code-format

Improve logging and function names around the user credential private key
  src/sftp/handler.go
  src/sftp/handler_test.go
Due: code-format

Improve logging for host public keys.
  src/sftp/handler.go
  src/sftp/handler_test.go
Due: code-format

started README for secrets
  SECRETS.md
Due: none

continued refinements
  SECRETS.md
Due: none

pulled duplicate variables in tests into constants
  src/sftp/handler_test.go
Due: code-format

added commemt for CA_PHL constant
  src/utils/constants.go
Due: code-format

Spruce up the readme on secrets
  .secrets.baseline
  README.md
  SECRETS.md
Due: none

Update secrets readme
  SECRETS.md
Due: none

More secrets documentation improvement
  SECRETS.md
Due: none

Improve readme on how to manually upload to an SFTP server
  README.md
Due: none

Add bit about loggin in as a SU account
  README.md
Due: none

Update error string to not be posessive
  src/sftp/handler.go
  src/sftp/handler_test.go
Due: code-format

comment back out the skipAPIVersionCheck
  docker-compose.yml
Due: none

Updated sender
  operations/template/app.tf
Due: terraform-format

Updated scope
  src/senders/report_stream_sender.go
Due: code-format

Use the proper prd environment name in Terraform
  operations/template/main.tf
Due: terraform-format

Change prd CRON to never run
  operations/environments/prd/main.tf
Due: terraform-format

Adding function timezones for partner specific settings.
  operations/template/functions.tf
Due: terraform-format

Linting
  operations/template/functions.tf
Due: terraform-format

refactored copySingleFile to include removing file from sftp server if a non-zip file
  src/sftp/handler.go
  src/sftp/handler_test.go
Due: code-format

updated starting directory in sftp server
  docker-compose.yml
Due: none

Remove Non-Zip File from SFTP Sever (#176)
  docker-compose.yml
  src/sftp/handler.go
  src/sftp/handler_test.go
Due: code-format

brainstorming multiple function trigger schedules
  azure_functions/src/functions/caDphTimerTrigger.ts
Due: none
