Repository CDCgov/reportstream-sftp-ingestion: changes, and which pre-commit hooks are due for each by the changed paths.
All: code-format, terraform-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-json
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-yaml
      - id: detect-private-key
        exclude: (mock_credentials|_test\.go)
      - id: end-of-file-fixer
        exclude: (\.txt)
      - id: no-commit-to-branch
      - id: trailing-whitespace

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]
        exclude: (mock_credentials|_test\.go|local\.settings\.json)

  - repo: local
    hooks:
      - id: code-format
        name: code-format
        entry: bash -c 'make formatCheck || (echo ""; echo "!!Automatically running formatApply!!"; make formatApply && git status)'
        language: system
        types_or:
          - go
        pass_filenames: false

  - repo: local
    hooks:
      - id: terraform-format
        name: terraform-format
        entry: bash -c 'terraform fmt -recursive -write'
        language: system
        types_or:
          - terraform
        pass_filenames: false

Added timestamp to the output
  operations/template/alert.tf
Due: terraform-format

Fixed Time for SFTP
  operations/template/alert.tf
Due: terraform-format

fix: azure_functions/package.json & azure_functions/package-lock.json to reduce vulnerabilities
  azure_functions/package-lock.json
  azure_functions/package.json
Due: none

Add High Memory usage alerts
  operations/template/alert.tf
Due: terraform-format

Add High Memory usage alerts (#223)
  operations/template/alert.tf
Due: terraform-format

Add CPU alert for ingestion service
  operations/template/alert.tf
Due: terraform-format

let's try some more changes I guess?
  .github/workflows/functions-deploy.yml
Due: none

Let's try this with a loop
  .github/workflows/functions-deploy.yml
Due: none

Add CPU alert for ingestion service (#224)
  operations/template/alert.tf
Due: terraform-format

delete temp variable
  operations/template/main.tf
Due: terraform-format

Sleep in function app function check so we don't error prematurely (#225)
  .github/workflows/functions-deploy.yml
Due: none

Update zip file deletion logic to only occur if unzipping doesn't fail
  src/sftp/handler.go
Due: code-format

Update unit tests and add a comment for updating a log statement
  src/sftp/handler.go
  src/sftp/handler_test.go
Due: code-format

fix logging statement
  src/sftp/handler.go
  src/sftp/handler_test.go
Due: code-format

Update variable name for better clarification
  src/sftp/handler.go
Due: code-format

Revert name change
  src/sftp/handler.go
Due: code-format

Shorten logic for deleting the zip files
  src/sftp/handler.go
Due: code-format

Update unit tests to include assertion to make sure Remove is not called for zipped files that error when unzipped
  src/sftp/handler_test.go
Due: code-format

moved files from unzip to appropriate location, started updating unit tests
  src/sftp/handler.go
  src/utils/constants.go
  src/zip/zip.go
  src/zip/zip_test.go
Due: code-format

add unit tests
  src/zip/zip.go
  src/zip/zip_test.go
Due: code-format

rename variable
  src/zip/zip.go
Due: code-format

remove and replace variables
  src/utils/constants.go
  src/zip/zip.go
  src/zip/zip_test.go
Due: code-format

add unit tests for MoveZip
  src/zip/zip.go
  src/zip/zip_test.go
Due: code-format

fixed azure core tools version, changed from file name to urls, updated tests, changed working directory for permission purposes
  Dockerfile
  azure_functions/local.settings.json
  docker-compose.yml
  src/sftp/handler.go
  src/sftp/handler_test.go
  src/zip/zip.go
  src/zip/zip_test.go
Due: code-format

add todo
  src/zip/zip_test.go
Due: code-format

First pass at re-using tokens
  src/senders/report_stream_sender.go
Due: code-format

remove comments
  src/sftp/handler.go
  src/zip/zip.go
  src/zip/zip_test.go
Due: code-format

remove todo and add comment
  src/zip/zip.go
  src/zip/zip_test.go
Due: code-format

fix broken test
  src/sftp/handler_test.go
Due: code-format

fix other broken test
  src/sftp/handler_test.go
Due: code-format

remove unneeded setting
  azure_functions/local.settings.json
Due: none

clarify comment
  src/zip/zip.go
Due: code-format

Add a new storage container for config and exempt it from the retention policy
  operations/template/storage.tf
Due: terraform-format

create new config container for local dev
  docker-compose.yml
Due: none

create local config; put local config in azurite; update queue message to match other values
  azure_functions/src/functions/caDphTimerTrigger.ts
  config/local.json
  docker-compose.yml
Due: none

Add a new storage container for config (#232)
  azure_functions/src/functions/caDphTimerTrigger.ts
  config/local.json
  docker-compose.yml
  operations/template/storage.tf
Due: terraform-format

Remove dynamic memory alert since it is unhelpful
  operations/template/alert.tf
Due: terraform-format

remove platform from docker-compose
  docker-compose.yml
Due: none

remove platform from docker-compose (#234)
  docker-compose.yml
Due: none

Remove dynamic memory alert since it is unhelpful (#233)
  operations/template/alert.tf
Due: terraform-format
