Repository CDCgov/reportstream-sftp-ingestion: changes, and which pre-commit hooks are due for each by the changed paths.
All: code-format, terraform-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-json
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-yaml
      - id: detect-private-key
        exclude: (mock_credentials|_test\.go)
      - id: end-of-file-fixer
        exclude: (\.txt)
      - id: no-commit-to-branch
      - id: trailing-whitespace

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]
        exclude: (mock_credentials|_test\.go|local\.settings\.json)

  - repo: local
    hooks:
      - id: code-format
        name: code-format
        entry: bash -c 'make formatCheck || (echo ""; echo "!!Automatically running formatApply!!"; make formatApply && git status)'
        language: system
        types_or:
          - go
        pass_filenames: false

  - repo: local
    hooks:
      - id: terraform-format
        name: terraform-format
        entry: bash -c 'terraform fmt -recursive -write'
        language: system
        types_or:
          - terraform
        pass_filenames: false

Add file encoding info to README
  README.md
Due: none

remove unneeded setup
  src/usecases/read_and_send_test.go
Due: code-format

Stop converting slice of bytes to strings, update clarifying comment
  src/usecases/read_and_send_test.go
Due: code-format

Encode content in UTF-8 before sending to RS (#193)
  README.md
  mock_data/ISO-8859-1.hl7
  src/senders/report_stream_sender.go
  src/usecases/read_and_send.go
  src/usecases/read_and_send_test.go
Due: code-format

Add alert rule, group, and action for monitoring purposes
  .github/workflows/cicd.yml
  .github/workflows/dev-deploy.yml
  .github/workflows/internal-deploy.yml
  .github/workflows/prod-deploy.yml
  .github/workflows/terraform-ci-deploy.yml
  .github/workflows/terraform-ci-destroy.yml
  operations/environments/dev/variables.tf
  operations/environments/internal/variables.tf
  operations/environments/stg/variables.tf
  operations/template/alert.tf
  operations/template/main.tf
Due: terraform-format

Add 4xx test api
  src/cmd/main.go
Due: code-format

Fix linting for terraform
  operations/environments/dev/main.tf
  operations/environments/internal/main.tf
  operations/environments/pr/main.tf
  operations/environments/stg/main.tf
Due: terraform-format

Fix regex for non-pr env check and fix alert sleck email secret
  .github/workflows/terraform-deploy_reusable.yml
  operations/template/main.tf
Due: terraform-format

Fix terraform apply parameters to be a secret
  .github/workflows/terraform-ci-deploy.yml
Due: none

added 5xx resource in terraform
  operations/template/alert.tf
Due: terraform-format

fix name of resource
  operations/template/alert.tf
Due: terraform-format

Update operations/template/alert.tf
  operations/template/alert.tf
Due: terraform-format

Use the same action-group resource in ti
  operations/template/alert.tf
Due: terraform-format

Fix data reference for alert action group
  operations/template/alert.tf
Due: terraform-format

Fix PR environment set up for action groups
  operations/template/alert.tf
Due: terraform-format

Fix count for action group reference
  operations/template/alert.tf
Due: terraform-format

new branch to add the new 4xx alerts but remove alert slack email secret
  operations/template/alert.tf
  operations/template/main.tf
  src/cmd/main.go
Due: code-format, terraform-format

Terraform linting
  operations/template/main.tf
Due: terraform-format

Change Count to Total to follow the proper aggregation type
  operations/template/alert.tf
Due: terraform-format

remove temp bad heath check
  src/cmd/main.go
Due: code-format

Add 4xx Alerts (#203)
  operations/template/alert.tf
  operations/template/main.tf
Due: terraform-format

added terraform for 5xx alert
  operations/template/alert.tf
Due: terraform-format

added temp bad 500 health check
  src/cmd/main.go
Due: code-format

remove temp 500 health check
  src/cmd/main.go
Due: code-format

Setup for 5xx Error Alerts (#204)
  operations/template/alert.tf
Due: terraform-format

add log alerts
  operations/template/alert.tf
Due: terraform-format

fix action group
  operations/template/alert.tf
Due: terraform-format

Setup Azure Log Error Alerts (#205)
  operations/template/alert.tf
Due: terraform-format

add terraform for low instance alert
  operations/template/alert.tf
Due: terraform-format

try to trigger alert by changing threshold
  operations/template/alert.tf
Due: terraform-format

change threshold to bigger number
  operations/template/alert.tf
Due: terraform-format

fix threshold to normal
  operations/template/alert.tf
Due: terraform-format

updated description to include service name
  operations/template/alert.tf
Due: terraform-format

add adr for azure alerts
  adr/011-azure-alerts.md
Due: none

fix number in adr
  adr/011-azure-alerts.md
Due: none

setting a temp variable to make PR env TF run
  operations/template/main.tf
Due: terraform-format

Setup Azure Alerts for Low Instance Count (#207)
  adr/011-azure-alerts.md
  operations/template/alert.tf
Due: terraform-format

Add sleep in function app function check
  .github/workflows/functions-deploy.yml
Due: none

add a tf change to trigger TF
  operations/template/main.tf
Due: terraform-format

Added prelive filter to the log alert
  operations/template/alert.tf
Due: terraform-format
