Repository CDCgov/reportstream-sftp-ingestion: changes, and which pre-commit hooks are due for each by the changed paths.
All: code-format, terraform-format

code-format:
  name: code-format
  entry: bash -c 'make formatCheck || (echo ""; echo "!!Automatically running formatApply!!"; make formatApply && git status)'
  language: system
  pass_filenames: false

terraform-format:
  name: terraform-format
  entry: bash -c 'terraform fmt -recursive -write'
  language: system
  pass_filenames: false

Adding WIP for config utils
  src/utils/config.go
  src/utils/config_test.go
Due: code-format

Adding further unmarshal methods for nested JSON.
  src/utils/config.go
  src/utils/config_test.go
Due: code-format

Adding happy path tests
  src/utils/config_test.go
Due: code-format

Adding unhappy path tests
  src/utils/config.go
  src/utils/config_test.go
Due: code-format

Further clean up
  src/utils/config.go
  src/utils/config_test.go
Due: code-format

Fixing tests that were broken in refactor
  src/utils/config_test.go
Due: code-format

Adding encoding validation and flattenting data structure
  src/utils/config.go
  src/utils/config_test.go
Due: code-format

Upgrade to sonarqube-scan-action instead because old one is deprecated
  .github/workflows/ci.yml
Due: none

Update src/utils/config.go
  src/utils/config.go
Due: code-format

Fixing test names
  src/utils/config_test.go
Due: code-format

Config client (#244)
  src/utils/config.go
  src/utils/config_test.go
Due: code-format

Start adding config retrieval
  src/mocks/blob_handler.go
  src/storage/azure.go
  src/usecases/blob.go
  src/usecases/read_and_send.go
  src/usecases/read_and_send_test.go
  src/utils/config.go
  src/utils/test_helper.go
  src/zip/zip.go
  src/zip/zip_test.go
Due: code-format

Added a key value to every slog statement that uniquely IDs the running container
  src/cmd/main.go
Due: code-format

Re-add code back to default environment to local
  src/cmd/main.go
Due: code-format

Added call to do config retrieval, plus some refactors to support that
  src/cmd/main.go
  src/config/config.go
  src/config/config_test.go
  src/orchestration/polling_message_handler.go
  src/storage/azure.go
  src/utils/config.go
  src/utils/constants.go
Due: code-format

Updated local config files to new structure. Cleaned up comments and made giant TODO list
  config/ca-phl.json
  config/flexion.json
  config/local.json
  src/config/config.go
Due: code-format

reorganize TODO based on when we should TODONE
  src/config/config.go
Due: code-format

Removing todo
  src/orchestration/polling_message_handler.go
Due: code-format

Excluding config struct from coverage
  codeCoverageFilter.sh
  src/config/config.go
  src/config/config_struct.go
  src/config/config_test.go
Due: code-format

Removing stub of bad test
  src/config/config_test.go
Due: code-format

Fixing map creation and logging id for retrieved configs
  src/cmd/main.go
  src/config/config.go
  src/config/config_struct.go
Due: code-format

Uploading fix for local development to have files
  docker-compose.yml
Due: none

ADR update
  adr/012-configs.md
Due: none

Addressing PR comments
  src/config/config.go
  src/config/config_struct.go
Due: code-format

Moving constants to struct to fix tests
  src/config/config.go
  src/config/config_struct.go
Due: code-format

Moving config cetting out of main and into the init of the config_struct file
  src/cmd/main.go
  src/config/config_struct.go
Due: code-format

split out live and pre-live queries
  operations/template/logs.tf
Due: terraform-format

notes and grammar
  adr/012-configs.md
Due: none

split out live and pre-live queries (#253)
  operations/template/logs.tf
Due: terraform-format

Adding configs readme
  adr/012-configs.md
  docs/configs.md
Due: none

Adding FAQ and clarifying comments
  adr/012-configs.md
  docs/configs.md
  src/config/config.go
Due: code-format

lil bit of shuffling
  adr/012-configs.md
  docs/configs.md
Due: none

start on using configs
  src/config/config_struct.go
  src/orchestration/polling_message_handler.go
  src/sftp/handler.go
Due: code-format

use partnerId more places
  src/orchestration/polling_message_handler.go
  src/sftp/handler.go
  src/sftp/handler_test.go
Due: code-format

update TODOs
  src/config/config.go
Due: code-format

Path conditions:
  code-format: any of: \.go$
  terraform-format: any of: \.(tf|tfvars)$
