Repository CDCgov/reportstream-sftp-ingestion: changes, and which pre-commit hooks are due for each by the changed paths.
All: code-format, terraform-format

code-format:
  name: code-format
  entry: bash -c 'make formatCheck || (echo ""; echo "!!Automatically running formatApply!!"; make formatApply && git status)'
  language: system
  pass_filenames: false

terraform-format:
  name: terraform-format
  entry: bash -c 'terraform fmt -recursive -write'
  language: system
  pass_filenames: false

Add Az functionapp function check to ensure function deployment
  .github/workflows/functions-deploy.yml
Due: none

Make the logging query similar to TI's
  operations/template/logs.tf
Due: terraform-format

Adding fail logic
  .github/workflows/functions-deploy.yml
Due: none

Fixing missed dollar sign
  .github/workflows/functions-deploy.yml
Due: none

Removing ;
  .github/workflows/functions-deploy.yml
Due: none

Updating multiline bash command
  .github/workflows/functions-deploy.yml
Due: none

removing semicolon and putting then on newline
  .github/workflows/functions-deploy.yml
Due: none

Swapping condition operator
  .github/workflows/functions-deploy.yml
Due: none

Putting single equals for condition
  .github/workflows/functions-deploy.yml
Due: none

Adding space
  .github/workflows/functions-deploy.yml
Due: none

Removing line break chars
  .github/workflows/functions-deploy.yml
Due: none

fixing semicolon
  .github/workflows/functions-deploy.yml
Due: none

Line breaks?
  .github/workflows/functions-deploy.yml
Due: none

Re-adding second =
  .github/workflows/functions-deploy.yml
Due: none

Adding logging for tests
  .github/workflows/functions-deploy.yml
Due: none

Adding initial value for failure var
  .github/workflows/functions-deploy.yml
Due: none

Changing boolean to string for output
  .github/workflows/functions-deploy.yml
Due: none

Trying to mirror publish_profile
  .github/workflows/functions-deploy.yml
Due: none

Test commit to verify rest of steps, will revert
  .github/workflows/functions-deploy.yml
Due: none

Testing simpler Github Action
  .github/workflows/functions-deploy.yml
Due: none

Testing happy path
  .github/workflows/functions-deploy.yml
Due: none

Fixing var
  .github/workflows/functions-deploy.yml
Due: none

Disable dev and internal from running automatically; stg runs every day
  operations/environments/dev/main.tf
  operations/environments/internal/main.tf
  operations/environments/pr/main.tf
  operations/environments/stg/main.tf
Due: terraform-format

Staging runs only on weekdays
  operations/environments/stg/main.tf
Due: terraform-format

Testing missing Functions for function-apps in Internal
  .github/workflows/functions-deploy.yml
  operations/template/functions.tf
Due: terraform-format

Login to azure
  .github/workflows/functions-deploy.yml
Due: none

add validation check back
  .github/workflows/functions-deploy.yml
Due: none

Undo comments and function-app test names
  .github/workflows/functions-deploy.yml
  operations/template/functions.tf
Due: terraform-format

Testing validation check with updated bash syntax
  .github/workflows/functions-deploy.yml
Due: none

Add proper syntax for bash variables
  .github/workflows/functions-deploy.yml
Due: none

String comparison in bash because no bools
  .github/workflows/functions-deploy.yml
Due: none

Add function deploy back to function-apps
  .github/workflows/functions-deploy.yml
Due: none

Renaming Failure step
  .github/workflows/functions-deploy.yml
Due: none

Add pr_agent config
  .pr_agent.toml
Due: none

Adding the pr_agent workflow
  .github/workflows/pr_agent.yml
Due: none

Encode content in UTF-8 before sending to RS
  mock_data/ISO-8859-1.hl7
  src/usecases/read_and_send.go
  src/usecases/read_and_send_test.go
Due: code-format

Set ingestion timer trigger to never run in staging
  operations/environments/stg/main.tf
Due: terraform-format

Set ingestion timer trigger to never run in staging (#198)
  operations/environments/stg/main.tf
Due: terraform-format

initial slack setup in terraform
  operations/environments/dev/main.tf
  operations/environments/internal/main.tf
  operations/environments/pr/main.tf
  operations/environments/prd/variables.tf
  operations/environments/stg/main.tf
  operations/template/alert.tf
  operations/template/main.tf
  operations/template/variables.tf
Due: terraform-format

Add another test and a TODO related to local testing
  src/senders/report_stream_sender.go
  src/usecases/read_and_send_test.go
Due: code-format

Path conditions:
  code-format: any of: \.go$
  terraform-format: any of: \.(tf|tfvars)$
